$opacity-10: 0.1;
$opacity-20: 0.2;
$color-primary: #3877ee;
$color-secondary: #ef5da8;
$color-text: #42567a;
$color-bg: #f4f5f9;
$color-border-10: rgba(66, 86, 122, $opacity-10);
$color-border-20: rgba(66, 86, 122, $opacity-20);
$button-border: rgb(48 62 88 / 50%);
$gradient-primary: linear-gradient(180deg, $color-primary, $color-secondary);
$container-max: 1440px;
$gap-large: 80px;
$gap-medium: 40px;
$gap-small: 20px;
