@use "variables" as *;
@use "mixins" as *;

.text {
  display: flex;
  flex-direction: row;
  gap: 95px;
  margin: 0;
  font-size: $font-size-h2;
  letter-spacing: -0.02em;
  cursor: default;
}

.fuchsia {
  color: $color-secondary;
}

.iris {
  color: $color-primary;
}

@include mobile {
  .text {
    gap: 30px;
    font-size: $font-size-h2-mobile;
  }
}
