@use "variables" as *;
@use "mixins" as *;

.carouselContainer,
.circleButtonsContainer {
  @include flex-center;
  z-index: 1;
  width: 530px;
  height: 530px;
  margin: 0 auto;
}

.circleButtonsContainer {
  position: absolute;
  inset: 0;
  border: 1px solid $color-border-20;
  border-radius: 50%;
  pointer-events: none;
}

.bigDate {
  margin-right: $gap-medium;
}

.themeText {
  position: absolute;
  top: 0;
  left: 890px;
  color: #42567a;
  font-size: $font-size-body;
}

.sliderContainer {
  position: relative;
  bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  min-height: 0;
}

.navigation {
  padding-left: $gap-large;
}

@include mobile {
  .carouselContainer {
    display: block;
    width: calc(100% - 20px);
    height: fit-content;
    margin: 0;
    margin-right: 20px;
    padding: 56px 0 58px;
  }

  .circleButtonsContainer {
    display: none;
  }

  .bigDate {
    margin-right: 0;
  }

  .themeText {
    position: static;
    margin-right: 20px;
    padding-bottom: 20px;
    font-size: $font-size-h3-mobile;
    border-bottom: 1px solid $color-border-mobile;
  }

  .sliderContainer {
    position: static;
    gap: 78px;
    margin-top: 20px;
  }

  .navigation {
    order: 1;
    padding: 0;
  }
}
