@use "variables" as *;
@use "mixins" as *;

.eventsContainer {
  position: relative;
  max-width: 100%;
  padding: 0 $gap-large;
  overflow: hidden;
}

.eventsSwiper {
  width: 100%;
}

.navButton {
  @include flex-center;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px rgb(190 205 229 / 35%);
  cursor: pointer;
  transform: translateY(-50%);

  &:disabled {
    visibility: hidden;
  }
}

.navButtonPrev {
  left: $gap-small;
}

.navButtonNext {
  right: $gap-small;
}

.eventSlide {
  width: 320px;
  text-align: start;
}

.eventYear {
  margin: 0;
  margin-bottom: 15px;
  color: $color-primary;
  font-size: $font-size-h3;
  line-height: 1.2;
}

.eventText {
  max-width: 300px;
  margin: 0;
  color: $color-text;
  font-size: $font-size-body;
  line-height: 1.6;
}

@include mobile {
  .eventsContainer {
    padding: 0;
  }

  .eventSlide {
    width: 170px;

    &:not(:global(.swiper-slide-active)) {
      opacity: 0.5;
    }
  }

  .eventYear {
    font-size: $font-size-h3-mobile;
  }

  .eventText {
    font-size: $font-size-body-mobile;
  }

  .navButton {
    display: none;
  }
}
