@use "variables" as *;
@use "mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $gap-small;
  width: fit-content;
  color: $color-text;
}

.counter {
  margin: 0;
  font-size: $font-size-body-mobile;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 0;
  background: #ffffff;
  border: 1px solid $button-border;
  border-radius: 50%;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }

  &:first-of-type {
    margin-right: 20px;
  }
}

@include mobile {
  .container {
    gap: 10.67px;
  }

  .button {
    width: 25px;
    height: 25px;

    &:first-of-type {
      margin-right: 8.33px;
    }
  }
}
